<app-form
	[actions]="actions"
	[formGroup]="form"
	[principalTitle]="principalTitle"
>
	<app-input
		label="Nome"
		name="title"
		placeholder="O que você precisa fazer agora?"
	/>
	<app-textarea
		[rows]="5"
		label="Descrição"
		name="description"
		placeholder="Como você precisa fazer?"
	/>

	<app-select
		label="Prioridade"
		name="priority"
		placeholder="Qual o nível de prioridade desta tarefa?"
		[options]="priorities"
	/>

	<app-input
		label="Quantos ciclos esta tarefa vai durar?"
		name="cycles"
		placeholder="O que você precisa fazer agora?"
		type="number"
	/>
</app-form>
