<app-todo-time
  *ngIf="todoInFocus() as inFocus"
  [currentTodo]="inFocus"
/>

<div class="todo-in-focus" *ngIf="todoInFocus() as inFocus">
  <app-todo-item
    class="mat-elevation-z1"
    (toggle)="toggle($event)"
    [item]="inFocus"
  >
  </app-todo-item>
</div>

<app-actions-container
  alignment="right"
  [actionsFn]="createButtonFn"
/>


<app-todo-list
  (reorder)="reorder($event)"
  (toggle)="toggle($event)"
  [items]="otherTodos()"
  [actionsFn]="actionsFn"
/>
