:host {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: .5rem;
  padding: 1rem;
  background-color: white;

  width: fit-content;
}

p {
  margin: 0;
}

.info {
  display: flex;
  gap: .5rem;
}

.estimated {
  div {
    display: flex;
    justify-content: center;
  }
}

.cycles {
  display: flex;
}