:host {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

  padding: 1rem;
  background-color: white;

  width: 200px;
}

app-clock {
  width: 400px;
}

.time {
  font-size: 2rem;
}
