<div class="info">
	<strong>
		Total:
	</strong>
	<p>
		{{allTime() | secondsToTime}}
	</p>
</div>

<div class="info estimated" *ngIf="!!todo.cycles">
	<strong>
		Tempo estimado:
	</strong>
	<div>
		<p>
			<ng-container [ngPlural]="todo.cycles">
				<ng-template ngPluralCase="=1">
					{{todo.cycles}} ciclo
				</ng-template>
				<ng-template ngPluralCase="other">
					{{ todo.cycles }} ciclos
				</ng-template>
			</ng-container>
			({{timeEstimated(todo) | secondsToTime}})
		</p>
	</div>
</div>

<div class="info">
	<strong>
		Tempo gasto:
	</strong>
	<p>
		{{timeWorked() | secondsToTime}}
	</p>
</div>
