<ul
	(cdkDropListDropped)="reorder.emit($event)"
	*ngIf="!!items.length; else noResults"
	cdkDropList>
	<li
		*ngFor="let item of items"
		cdkDrag
		class="rounded-box">
		<div
			#todo
			(mouseenter)="showInfo(item, todo)"
			(mouseleave)="closeInfo()"
			[poppoverComponent]="poppoverComponent"
			appPoppover
			class="todo"
		>
			<app-todo-item
				(toggle)="toggle.emit($event)"
				[actionsFn]="actionsFn" [item]="item"
			/>
			<mat-icon class="material-icons-outlined">info</mat-icon>
		</div>
	</li>
</ul>

<ng-template #noResults>
	<app-no-results description="Adicione uma tarefa" icon="format_list_bulleted"
					label="Nenhuma tarefa adicionada"/>
</ng-template>
